body {
    background-color: #ffe5b1;
}
#mainForm {
    width: 150px;
    display:flex;
    flex-direction: column;
}
#mainForm > *{
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #8b8b8bcc;
    border-radius: 5px;
}

p {
    color:#46484c;
}

.promotional {
    color: #8b8b8bcc;
}

button {
    color:#fff;
    background-color: #4abd4a;
    border: 0px;
    border-radius: 5px;;
}